<h1><%= @user.username %></h1>

<div class = "user-show">
<p>Reservations: </p> 
<% @user.reservations.each do |r| %>
    <p><%= link_to r.restaurant.name, restaurant_path(r.restaurant) %></p>
    <% date = r.date %>
    <p><%= date.strftime(" %m/%d/%Y at %I:%M%p") %></p>
    <p>Party of <%= r.party %></p>
    <p><%= link_to "Edit This Reservation", edit_reservation_path(r) %><br>
    <%= button_to "Delete This Reservation", reservation_path(r), method: :delete %>
<%end%>
</div>

<p>Friends: </p>
<% @user.followers.each do |follower|%>
<p> <%= link_to follower.username, user_path(follower) %></p>
<%end%>

<%= link_to "Make a Reservation", new_reservation_path %>