<h1>New Reservation!</h1>

<%if flash[:reservation_errors] %>
<% flash[:reservation_errors].each do |e| %>
<p><%= e %></p><br>
<%end%>
<%end%>

<%= form_for @reservation do |f| %>
<%= f.label "Restaurant" %>
<br>
<%= f.collection_select :restaurant_id, @restaurants, :id, :name %>
<br>
<%= f.label "Reservation For" %>
<br>
<%= f.collection_select :user_id, @users, :id, :username %>
<br>
<%= f.label "Date & Time" %>
<br>
<%= f.datetime_field :date %>
<br>
<%= f.label "Number in Your Party"%>
<br>
<%= f.number_field :party %>
<br>
<%= f.submit %>
<br>
<%end%>