<h1>Edit Your Review </h1>

<%= form_for @review do |f| %>
    <%= f.label ("Reviewer: #{@current_user.username}") %>
    <br>
    <%= f.hidden_field :user_id, :value => @current_user.id %>
    <br>
    <%= f.label :restaurant_id %>
    <br>
    <%= f.collection_select :restaurant_id, @restaurants, :id, :name %>
    <br>
    <%= f.label :content %>
    <br>
    <%= f.text_area :content %>
    <br>
    <%= f.label :rating %>
    <br>
    <%= f.number_field :rating %>
    <br>
    <%= f.submit %>
<% end %>